<div>	
	<% if @article.errors.any? %>
			<h5>The following errors prevented the Article from getting created</h5>
			<% @article.errors.full_messages.each do |msg| %>
				<ul>
					<li><%= msg %></li>
				</ul>
			<% end %>
	<% end %>

	