<h1 class="center">Create an Article</h1>
<%= render ('form_errors') %>
<div class="row">
  <form action="<%= articles_path %>", method="post", class="col-12">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="row">
      <div class="input-field col s12">
        <input id="article-title" type="text" class="validate" name="article[title]">
        <label for="first_name">Title</label>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="article[description]"></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
<a href="<%= articles_url %>">Back to article listing</a>