<div class="section" style="border-bottom: solid 0.1px lightgrey; height: 20%">
	<div class="row center">
		<h3>ALPHA BLOG</h3>
		<p style="color: gray">JUST ANOTHER RAILS SITE</p>
	</div>
</div>
<div class="section">
	<div class="row">
		<h5>Section 2</h5>
		<p>Stuff</p>
	</div>
</div>
<div class="section">
	<div class="row">
		<h5>Section 3</h5>
		<p>Stuff</p>
	</div>
</div>
