<footer class="page-footer center">
  <div class="section">
    <i class="small fa fa-facebook"></i>
    <i class="small fa fa-instagram"></i>
    <i class="small fa fa-twitter"></i>
    <i class="small fa fa-google-plus"></i>
    <i class="small fa fa-youtube-play"></i>
    <p>Copyright 2017 </p>
  </div>
</footer>
    