<div class="col s12 m12 l4 xl4 right">
  <h1>Show Selected Article</h1>
  <p>Title: <%= article.title %></p>
  <p>Description: <%= article.description %></p>
  <a href="<%= edit_article_path %>">Edit Article</a> | <a href="<%= articles_url %>">Back to articles listing</a>
</div>